<div id="app">
  <div id="navbarSupportedContent">
    <div class="menugraf">
      <div class="row">
        <div class="col-md-4 titulo-header mt-4">
          SISTEMA<br />
          <h1><strong>Perfiles de puestos</strong></h1>
        </div>
        <div class="col-md-8 text-end logos-header">
          <img
            alt="Logo Administración"
            class="img-fluid"
            src="assets/images/logo_admon_naranja.png"
          />
          <img
            alt="Isologo Gobierno de Jalisco"
            class="img-fluid"
            src="assets/images/isologo_gobjalisco.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
